<div class="main-content">
    {{>header}}
    <h3>The aplication for forecasting in your city</h3>
    <form>
        <input placeholder="Type city to get forecast">
        <button id="submitSearchForecast">Search</button>
    </form>
    <p id="responseForecast"></p>
</div>

</body>
{{>footer}}
<script src="/js/script.js"></script>
